---
import BaseLayout from "../../layouts/BaseLayout.astro";
const pageTitle = "Tags";
const allPosts = await Astro.glob("../posts/*.md");
const uniqueTags = [
  ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
];

const postCountPerTags = uniqueTags.map((tag) => {
  const filteredPosts = allPosts.filter((post) =>
    post.frontmatter.tags.includes(tag)
  );
  return {
    [tag]: filteredPosts.length,
  };
});
---

<BaseLayout pageTitle={pageTitle}>
  <ul class="tag-list">
    {
      uniqueTags.map((tag, i) => (
        <li>
          <a
            class="tag"
            href={`/tags/${tag}`}
            title={`View posts tagged under "${tag}"`}
          >
            {tag} ({postCountPerTags[i][tag]})
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  .tag-list {
    @apply list-none flex gap-2 flex-wrap;
  }
  .tag {
    @apply inline-block text-xl px-4 py-1 rounded-full text-theme-primary bg-theme-dark-primary dark:bg-theme-primary dark:text-theme-dark-primary hover:bg-theme-primary hover:text-theme-dark-primary dark:hover:bg-theme-dark-primary dark:hover:text-theme-primary;
  }
</style>
