---
import PostPreview from "./PostPreview.astro";

const { title, url, description, post } = Astro.props;
---

<PostPreview post={post} />
<!-- <li><a href={url}>{title}</a></li> -->
<h4 class="post-preview__title dark:text-theme-dark-primary">
  <a href={url} title={title} target="_blank">{title}</a>
</h4>
<p class="post-preview__desc">
  {description}
</p>

<style>
  .post-preview__title {
    @apply text-2xl font-semibold text-theme-primary dark:text-theme-dark-primary /* this doesn't works here */ hover:underline;
  }
  .post-preview__desc {
    @apply text-lg leading-6 dark:text-white; /* line-clamp-2; */
  }
</style>
